body {
	background: whitesmoke;
}
::-webkit-scrollbar {
    display: none !important;
}
/*------------------------------------*/
/* ==== Login page css start ====*/
/*------------------------------------*/

h3#login-heading {
  	background: gray;
	padding: 10px;
	color: whitesmoke;
	text-align: center;
	font-family: monospace;
}
#login-btn {
	border: 2px solid darkgray;	
} 
#login-btn:hover{
	background: gray;
    color: white;
    border: 2px solid darkgray;
}
.container{
	background: white;
}
.dark-mood{
	background: black;
}